h1{
	color:blue;
	font-family: 'Lato', sans-serif;
}

h2{
	background-color: black;
	color:white;
	font-size: 40px;
}

h3{
	padding:50px 10px;
}

img{
	height: 200px;
	width:50%;
}

#doge1{
	height: 400px;
	width:60%
}

.paragraph{
	background-color: red;
}